.currencyCard {
  width: 28%;
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  padding: 20px;
}

.countryInput {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(50, 88, 158);
}

.countryInput > svg {
  color: rgba(50, 88, 158);
}

.currencyLabel {
  font-size: 12px;
  color: #8d8c8c;
  text-align: left;
}

.inputField {
  color: rgba(50, 88, 158);
  padding: 8px 0;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1.5px solid rgba(50, 88, 158);
}

.selectedCountries {
  margin-top: 20px;
}

.result {
  font-size: 10px;
  text-align: center;
  color: rgba(50, 88, 158);
}

.convertbtn {
  margin-top: 30px;
  width: 100%;
  background: rgba(50, 88, 158);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timer {
  background-color: rgba(50, 88, 158);
  padding: 4px;
  border: 2px solid #cdcdcd;
  color: #ffffff;
  margin: 0 70px;
}
.countryList {
  display: flex;
  align-items: center;
}
.countryFlag {
  margin-right: 8px;
}
